body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.chat-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
}

#chat-box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fafafa;
}

.user-msg {
    text-align: right;
    margin: 5px 0;
    color: blue;
}

.bot-msg {
    text-align: left;
    margin: 5px 0;
    color: green;
}

#user-input {
    width: 70%;
    padding: 5px;
}

button {
    width: 25%;
    padding: 5px;
}
